* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* https://cssgradient.io/gradient-backgrounds/ */
  background: #808080;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3fada8, #808080);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3fada8, #808080);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
}

header, form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}